@import 'themes', 'navbar', 'extra', 'components/home',
  'components/contact_form', 'components/contact', 'components/project_card',
  'components/projects';

body {
  background: var(--app-background-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-top: 5px;
    color: var(--text-color);
  }
}

label,
input,
.home p,
.input p {
  color: var(--text-color);
}

.tools__langs__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
      display: block;
    }
  }
  @media screen and (max-width: 800px) {
    grid-template-columns: auto auto;
  }
  @media screen and (max-width: 480px) {
    justify-content: center;
    grid-template-columns: auto;
  }
}

/* Animations */
@for $i from 1 to 7 {
  .form div:nth-child(#{$i}),
  .box:nth-child(#{$i}) {
    animation-delay: $i * 0.25s;
  }
}

// @for $i from 1 to 7 {
//   .field:nth-child(#{$i}) {
//     animation-delay: $i * 0.25s;
//   }
// }
